
<div class="ms-Grid">
    <button class="ms-Button" onClick="openFabricPanel(); return false;">
        <span class="ms-Button-label">Open Panel</span> 
    </button>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-md12 ms-u-lg6 ms-u-xl3">
            <h1>Lorem ipsum dolor sit amet</h1> consectetur adipiscing elit. Quisque commodo justo a nisl hendrerit, nec auctor augue consequat. Morbi tincidunt aliquam mi. Donec luctus ex vel ipsum ornare ultricies. Donec laoreet quam eu velit tristique eleifend. Etiam quis velit eu nulla sodales lobortis a ut ex. Nulla facilisi. Vestibulum ipsum diam, egestas sed urna vitae, auctor molestie turpis. Sed blandit, diam a eleifend vestibulum, elit sem condimentum dui, a imperdiet dui nibh sit amet ligula.
        </div>
        <div class="ms-Grid-col ms-u-md12 ms-u-lg6 ms-u-xl3">
            <h1>Lorem ipsum dolor sit amet</h1> consectetur adipiscing elit. Proin id odio lacus. Mauris et ornare sem, in commodo felis. Maecenas commodo nisl ex, a ultricies nisl suscipit eu. Nulla mollis pulvinar nulla, vel cursus nisl suscipit sit amet. Sed leo lacus, facilisis eget mattis vitae, ornare nec massa. Duis enim dui, luctus vitae risus ac, tempus mattis nibh. Vestibulum ac augue sem. Nam scelerisque a ante nec mollis. Donec nibh neque, viverra vitae risus vehicula, rhoncus iaculis neque. Vivamus commodo consectetur lacus, quis elementum magna facilisis vel.
        </div>
        <div class="ms-Grid-col ms-u-md12 ms-u-lg6 ms-u-xl3">
            <h1>Lorem ipsum dolor sit amet</h1> consectetur adipiscing elit. Vivamus feugiat, magna eu mattis feugiat, justo purus faucibus diam, in cursus turpis turpis id eros. Nullam eget volutpat orci, at pulvinar arcu. In et velit pellentesque ante auctor sagittis eu sit amet tortor. Donec tellus lorem, ornare a quam nec, tempor molestie nibh. Donec venenatis nibh in mattis auctor. Praesent nec enim ultrices felis mollis euismod. Maecenas et felis sit amet massa dignissim gravida. Nullam nulla est, auctor sollicitudin turpis sed, consectetur imperdiet dolor. Morbi eget lobortis ligula. Nam facilisis tortor nec ipsum porttitor fringilla eu eu ex. Cras pharetra, leo non imperdiet convallis, magna leo suscipit orci, id finibus mauris nulla a nisl.
        </div>
        <div class="ms-Grid-col ms-u-md12 ms-u-lg6 ms-u-xl3">
            <h1>Lorem ipsum dolor sit amet</h1> consectetur adipiscing elit. Nullam consequat efficitur luctus. Aliquam erat volutpat. Sed cursus at purus et facilisis. Morbi volutpat dictum enim eget mattis. Vivamus orci velit, interdum eget dolor in, viverra cursus metus. Integer euismod, neque eu volutpat semper, sem nisl bibendum ipsum, quis laoreet urna dolor ut orci. In cursus fringilla sem nec ornare. Suspendisse ut lacinia lacus. Maecenas maximus a leo ac iaculis. Sed auctor interdum fermentum.
        </div>
    </div>
</div>

<div class="ms-Panel">
    <button class="ms-Panel-closeButton ms-PanelAction-close">
      <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
    </button>
    <div class="ms-Panel-contentInner">
      <p class="ms-Panel-headerText">Panel</p>
      <div class="ms-Panel-content">
        
<div class="ms-ChoiceFieldGroup" id="choicefieldgroup" role="radiogroup">
  <div class="ms-ChoiceFieldGroup-title">
    <label class="ms-Label is-required">Unselected</label>
  </div>
  <ul class="ms-ChoiceFieldGroup-list">
    <li class="ms-RadioButton">
      <input tabindex="-1" type="radio" class="ms-RadioButton-input">
      <label role="radio" class="ms-RadioButton-field" tabindex="0" aria-checked="false" name="choicefieldgroup">
        <span class="ms-Label">Option 1</span> 
      </label>
    </li>
    <li class="ms-RadioButton">
      <input tabindex="-1" type="radio" class="ms-RadioButton-input">
      <label role="radio" class="ms-RadioButton-field" tabindex="0" aria-checked="false" name="choicefieldgroup">
        <span class="ms-Label">Option 2</span> 
      </label>
    </li>
    <li class="ms-RadioButton">
      <input tabindex="-1" type="radio" class="ms-RadioButton-input">
      <label role="radio" class="ms-RadioButton-field is-disabled" tabindex="0" aria-checked="false" name="choicefieldgroup" aria-disabled="true">
        <span class="ms-Label">Option 3</span> 
      </label>
    </li>
    <li class="ms-RadioButton">
      <input tabindex="-1" type="radio" class="ms-RadioButton-input">
      <label role="radio" class="ms-RadioButton-field" tabindex="0" aria-checked="false" name="choicefieldgroup">
        <span class="ms-Label">Option 4</span> 
      </label>
    </li>
  </ul>
</div>


<div class="ms-PersonaCard">
  <div class="ms-PersonaCard-persona">
    <div class="ms-Persona ms-Persona--lg">
      <div class="ms-Persona-imageArea">
        <div class="ms-Persona-initials ms-Persona-initials--blue">AL</div>
        <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
      </div>
      <div class="ms-Persona-presence">
        <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
      </div>
      <div class="ms-Persona-details">
        <div class="ms-Persona-primaryText">Alton Lafferty</div>
        <div class="ms-Persona-secondaryText">Accountant</div>
        <div class="ms-Persona-tertiaryText">In a meeting</div>
        <div class="ms-Persona-optionalText">Available at 4:00pm</div>
      </div>
    </div>
  </div>
  <ul class="ms-PersonaCard-actions">
    <li data-action-id="chat" class="ms-PersonaCard-action" tabindex="1">
      <i class="ms-Icon ms-Icon--Chat"></i>
    </li>
    <li data-action-id="phone" class="ms-PersonaCard-action is-active" tabindex="2">
      <i class="ms-Icon ms-Icon--Phone"></i>
    </li>
    <li data-action-id="video" class="ms-PersonaCard-action" tabindex="3">
      <i class="ms-Icon ms-Icon--Video"></i>
    </li>
    <li data-action-id="mail" class="ms-PersonaCard-action" tabindex="4">
      <i class="ms-Icon ms-Icon--Mail"></i>
    </li>
    <li class="ms-PersonaCard-overflow" alt="View profile in Delve" title="View profile in Delve">View profile</li>
    <li data-action-id="org" class="ms-PersonaCard-action ms-PersonaCard-orgChart" tabindex="5">
      <i class="ms-Icon ms-Icon--Org"></i>
    </li>
  </ul>
  <div class="ms-PersonaCard-actionDetailBox">
    <div data-detail-id="mail" class="ms-PersonaCard-details">
      <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Personal:</span> 
        <a class="ms-Link" href="mailto:alton.lafferty@outlook.com">alton.lafferty@outlook.com</a> 
      </div>
      <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Work:</span> 
        <a class="ms-Link" href="mailto:alton.lafferty@outlook.com">altonlafferty@contoso.com</a> 
      </div>
    </div>
    <div data-detail-id="chat" class="ms-PersonaCard-details">
      <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Lync:</span> 
        <a class="ms-Link" href="#">Start Lync call</a> 
      </div>
    </div>
    <div data-detail-id="phone" class="ms-PersonaCard-details">
      <div class="ms-PersonaCard-detailExpander"></div>
      <div class="ms-PersonaCard-detailLine">
        <span class="ms-PersonaCard-detailLabel">Details</span> 
      </div>
      <div class="ms-PersonaCard-detailLine">
        <span class="ms-PersonaCard-detailLabel">Personal:</span>  555.206.2443
      </div>
      <div class="ms-PersonaCard-detailLine">
        <span class="ms-PersonaCard-detailLabel">Work:</span>  555.929.8240
      </div>
    </div>
    <div data-detail-id="video" class="ms-PersonaCard-details">
      <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Skype:</span> 
        <a class="ms-Link" href="#">Start Skype call</a> 
      </div>
    </div>
    <div data-detail-id="org" class="ms-PersonaCard-details">
      <div class="ms-OrgChart">
        <div class="ms-OrgChart-group">
          <ul class="ms-OrgChart-list">
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Russel Miller</div>
                    <div class="ms-Persona-secondaryText">Sales</div>
                  </div>
                </div>
              </button>
            </li>
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Douglas Fielder</div>
                    <div class="ms-Persona-secondaryText">Public Relations</div>
                  </div>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <div class="ms-OrgChart-group">
          <div class="ms-OrgChart-groupTitle">Manager</div>
          <ul class="ms-OrgChart-list">
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Grant Steel</div>
                    <div class="ms-Persona-secondaryText">Sales</div>
                  </div>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <div class="ms-OrgChart-group">
          <div class="ms-OrgChart-groupTitle">Staff</div>
          <ul class="ms-OrgChart-list">
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Harvey Wallin</div>
                    <div class="ms-Persona-secondaryText">Public Relations</div>
                  </div>
                </div>
              </button>
            </li>
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Marcus Lauer</div>
                    <div class="ms-Persona-secondaryText">Technical Support</div>
                  </div>
                </div>
              </button>
            </li>
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Marcel Groce</div>
                    <div class="ms-Persona-secondaryText">Delivery</div>
                  </div>
                </div>
              </button>
            </li>
            <li class="ms-OrgChart-listItem">
              <button class="ms-OrgChart-listItemBtn" tabindex="1">
                <div class="ms-Persona">
                  <div class="ms-Persona-imageArea">
                    <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    <img class="ms-Persona-image" src="../persona/Persona.Person2.png">
                  </div>
                  <div class="ms-Persona-presence">
                    <i class="ms-Persona-presenceIcon ms-Icon ms-Icon--SkypeCheck"></i>
                  </div>
                  <div class="ms-Persona-details">
                    <div class="ms-Persona-primaryText">Jessica Fischer</div>
                    <div class="ms-Persona-secondaryText">Marketing</div>
                  </div>
                </div>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


      </div>
    </div>
</div>

<script type="text/javascript">
function openFabricPanel() {
    var PanelExamplePanel = document.querySelector(".ms-Panel");

    new fabric['Panel'](PanelExamplePanel);

    return false;
}
</script>